*{
  font-family: 'Amatic SC', cursive;
  
}





.head{
  &__head-box{
    display: flex;
    justify-content: space-between;
    &__head-title{
      margin: 10px 10px 0px 20px;
      font-size: 70px;
    }
    &__head-content{
      display: flex;
      align-items: flex-end;
      font-size: 25px;
      &__head-mark{
        margin: 10px 15px 0px 10px;
        text-decoration: none;
        opacity: 0; 
        animation: 8s fadeIn forwards;
      }
    }
  }
}

.body-box{
  &__body-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  }
  .body-box__body-title__history-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    .history{
      font-size: 30px;
    }
  }
  .body-box__body-title__skill-box{
    &__skill-content{
      display: flex;
      .skill{
        font-size: 30px;
      }
    }
  }
}
.portfolio{
  text-align: center;
  font-size:50px ;
}
#title4{
  border-bottom: solid 2px black;
}
.portfolio-box{
  display: flex;
  justify-content: center;
  &__portfolio-content{
    margin: 10px 10px 0px 10px;
  }
}
// .body-box__body-title__history-box {
//   background-image:linear-gradient(-45deg, #dfdfdf 25%, #f9f8f7 25%, #f9f8f7 50%, #dfdfdf  50%, #dfdfdf 75%, #f9f8f7 75%, #f9f8f7);
// }
// .body-box__body-title__skill-box{
//   background-image:linear-gradient(-45deg, #dfdfdf 25%, #f9f8f7 25%, #f9f8f7 50%, #dfdfdf  50%, #dfdfdf 75%, #f9f8f7 75%, #f9f8f7);
// }

// Historyフェード
.body-box__body-title__history-box label{
  cursor :pointer;
}
.body-box__body-title__history-box label:hover {
  background: #efefef;
}
.body-box__body-title__history-box input {
  display: none;
}
.body-box__body-title__history-box__history-content{
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
.body-box__body-title__history-box input:checked ~ .body-box__body-title__history-box__history-content{
  padding: 10px 0;
    height: auto;
    opacity: 1;
}

// Skillフェード
.body-box__body-title__skill-box label{
  cursor :pointer;
}
.body-box__body-title__skill-box label:hover{
  background: #efefef;
}
.body-box__body-title__skill-box input{
  display: none;
}
.body-box__body-title__skill-box__skill-content{
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}
.body-box__body-title__skill-box input:checked ~ .body-box__body-title__skill-box__skill-content{
  padding: 10px 0;
  height: auto;
  opacity: 1;
}


@keyframes fadeIn { 
  from { opacity: 0; }
  to { opacity: 0.5; }
}

.Footer{
  text-align: center;
  border-top: solid 2px black;
}
.fab{
  text-decoration: none;
}